[submodule "apps/modbus_tcp_client_shm"]
	path = apps/modbus_tcp_client_shm
	url = https://github.com/NikolasK-source/modbus_tcp_client_shm.git
[submodule "apps/dump_shm"]
	path = apps/dump_shm
	url = https://github.com/NikolasK-source/dump_shm.git
[submodule "apps/write_shm"]
	path = apps/write_shm
	url = https://github.com/NikolasK-source/write_shm.git
[submodule "apps/shared_mem_random"]
	path = apps/shared_mem_random
	url = https://github.com/NikolasK-source/shared_mem_random.git
[submodule "apps/stdin_to_modbus_shm"]
	path = apps/stdin_to_modbus_shm
	url = https://github.com/NikolasK-source/stdin_to_modbus_shm.git
[submodule "apps/modbus_rtu_client_shm"]
	path = apps/modbus_rtu_client_shm
	url = https://github.com/NikolasK-source/modbus_rtu_client_shm.git
[submodule "apps/shm-modbus-signal-gen"]
	path = apps/shm-modbus-signal-gen
	url = https://github.com/NikolasK-source/shm-modbus-signal-gen.git
[submodule "apps/wago_modbus_coupler_shm"]
	path = apps/wago_modbus_coupler_shm
	url = https://github.com/NikolasK-source/wago_modbus_coupler_shm.git
