[Desktop Entry]
Name=Shared Memory Modbus
GenericName=Modbus Client
Categories=Development
Comment=Collection of applications to simulate a Modbus client
Icon=io.github.shmmodbus.shm-modbus
Exec=shm-modbus --gui
Keywords=shm;shared-memory;modbus;client
Type=Application