[Desktop Entry]
Name=Shared Memory Modbus
GenericName=Modbus Client
Categories=Development
Comment=Collection of applications to simulate a Modbus client
Icon=network.koesling.shm-modbus
Exec=shm-modbus --guided
Keywords=shm;shared-memory;modbus;client
Terminal=true
Type=Application